:root {
  font-size: 16px;
  font-family: monospace;
  --text-primary: white;
  --text-secondary: black;
  --bg-main: #322929;
  --bg-nav-primary: #423737;
  --bg-nav-secondary: #322929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 108, 113, 1) 70%,
    rgba(0, 173, 181, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-primary);
  height: 100vh;
  width: 100vw;
}

main {
  padding: 4rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  width: 100vw;
  height: 4rem;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 0.5rem;
  justify-content: space-evenly;
}

.navbar li {
  flex-basis: 12.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  z-index: 100;
  -webkit-transition: ease 250ms; /* For Safari 3.0 to 6.0 */
  transition: ease 250ms; /* For modern browsers */
}

.navbar li:hover {
  border-top: 0.25rem solid #a3f7bf;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: var(--text-primary);
  border-radius: 2rem;
  line-height: 2rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  -webkit-transition: ease 250ms; /* For Safari 3.0 to 6.0 */
  transition: ease 250ms; /* For modern browsers */
}

.nav-link:hover {
  color: var(--text-secondary);
  background-color: white;
}

.nav-link:hover .icon {
  color: black;
}

.nav-link:hover .navbar li {
  background-color: black;
}

.icon {
  color: #a3f7bf;
  -webkit-transition: ease 250ms; /* For Safari 3.0 to 6.0 */
  transition: ease 250ms; /* For modern browsers */
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 7.5rem 5rem;
  height: 100%;
}

.name-is {
  margin: 0.25rem 0;
  font-size: 20px;
}

.my-name {
  margin: 0.25rem 0 0.25rem -0.1rem;
  font-size: 30px;
}

.name-underline {
  content: "";
  display: block;
  width: 15rem;
  height: 0.25px;
  float: left;
  margin: 1rem 0;
  background-color: #a3f7bf;
}

.intro-summary {
  max-width: 37.5rem;
}

button {
  font-family: monospace;
}

.intro-btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.holo-btn {
  margin: 1rem 2.5rem 0 0;
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  text-decoration: none;
  background-color: transparent;
  color: #a3f7bf;
  border: 1px solid #a3f7bf;
  border-radius: 0.35rem;
  -webkit-transition: ease 250ms; /* For Safari 3.0 to 6.0 */
  transition: ease 250ms; /* For modern browsers */
}

.holo-btn:hover,
.holo-btn:active,
.holo-btn:focus {
  background-color: rgba(163, 247, 191, 0.15);
  outline: none;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  border: 3px solid #f1f1f1;
  z-index: 10;
}

/* Add styles to the form container */
.form-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 35rem;
  padding: 2rem;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}